<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Charity</title>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="../../../../../public/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/bootstrap-theme.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../../../public/assets/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/global.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/style.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/responsive.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/skin.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="../layouts/index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Charity"><img src="../../../../../public/assets/img/logo.png" alt="Charity"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="../volunteer/volunteer.ejs" class="btn btn-default btn-volunteer">Become volunteer</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">Home <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../layouts/index.html">Index-1</a>
											</li>
											<li>
												<a href="../layouts/index2.html">Index-2</a>
											</li>
											<li>
												<a href="../layouts/index3.html">Index-3</a>
											</li>
											
										</ul>
									</div>
								</li>

								<li>
									<a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">Causes <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->

									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../causes/causes.ejs">Causes Home</a>
											</li>
											<li>
												<a href="../causes/causes-detail.ejs">Causes Details full width</a>
											</li>
											<li>
												<a href="../causes/causes-detail-with-sidebar.ejs">Causes Details with sidebar</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">features <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../our-story.html">Our Story</a>
											</li>
											<li>
												<a href="../our-mission.html">Our Mission</a>
											</li>
											<li>
												<a href="../volunteer/volunteer.ejs">Become a Volunteer</a>
											</li>
											<li>
												<a href="../gallery/gallery-two-column.ejs">Gallery 2 Columns</a>
											</li>
											<li>
												<a href="../gallery/gallery.ejs">Gallery 3 Columns</a>
											</li>
											<li>
												<a href="../faq.html">Faq </a>
											</li>
											<li>
												<a href="../layouts/error404.ejs">404 Error </a>
											</li>
											<li>
												<a href="../events/event.ejs">event </a>
											</li>
											<li>
												<a href="../events/event-details.ejs">Event-Details </a>
											</li>
											
											<li>
												<a href="../donation/donation-payment-fail.ejs">Payment-Fail </a>
											</li>
											<li>
												<a href="../donation/donation-payment-success.ejs">Payment-Success </a>
											</li>
											<li>
												<a href="../launch.html">launch </a>
											</li>
										</ul>
									</div>
									<!-- end  -->

								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Store <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
										<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="shop-listing.html">Shop Listing</a>
											</li>
											<li>
												<a href="shop-detail.html">Shop Detail</a>
											</li>
											<li>
												<a href="shoping-cart.html">Shoping Cart</a>
											</li>
											
											<li>
												<a href="checkout.html">Checkout</a>
											</li>

										</ul>
									</div>
								</li>
								
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Gallery <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../portfolio/portfolio.ejs">Portfolio</a>
											</li>
											<li>
												<a href="../portfolio/portfolio-detail.ejs">Portfolio Detail</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Blog <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../blogs/blog-full-width.ejs">Blog Full Width</a>
											</li>
											<li>
												<a href="../blogs/blog-full-width-details.ejs">Blog Detail Full Width</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="../contact-us.ejs">contact us</a>
								</li>

							</ul>
							</nav>
							
							<form class="navbar-form navbar-right search-form" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search Here">
								</div>
								<button type="submit">
									<i class="icon-search"></i>
								</button>
							</form>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->
			<!-- site content -->
			<div id="main">
			<!-- Breadcrumb Section Start Here -->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Shopping Cart</h1>
								<ul class="breadcrumb">
									<li>
										<a href="../layouts/index.html">Home</a>
									</li>
									<li class="active">
										 Shopping Cart
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Breadcrumb Section End Here -->

				<div class="container" id="page-info">
					<div class="row">
						<div class="col-xs-12">
							<!-- AddtoCart Section Start Here-->
							<section class="anim-section AddtoCart">
								<div class="row">
									<div class="col-sm-12">
										<h3>Shopping Cart Informations</h3>										
										<table class="table" id="main-table">
									      <thead>
									        <tr>
									          <th>#Item</th>
									          <th>Product</th>
									          <th>Price</th>
									          <th>Quantity</th>
									          <th>Total</th>
									          <th>&nbsp;</th>
									        </tr>
									      </thead>
									      <tbody>
									        <tr>
									          <td class="product-image"><a href="shop-listing.html"><img src="../../../../../public/assets/img/shopping-img1.png" alt="" /></a></td>
									          <td class="product-title"><a href="shop-listing.html">Heading title product</a></td>
									          <td>$2.00</td>
									          <td class="quantity">
									          	<a href="#"><span class="glyphicon glyphicon-plus"></span></a>
									          	<input type="text" />
									          	<a href="#"><span class="glyphicon glyphicon-minus"></span></a>
									          </td>
									          <td class="total">$2.00</td>
									          <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
									        </tr>
									      </tbody>
									    </table>
									   <table class="table footer-table" id="summary-table">
										   <tr>
										      	<td class="one">
										      		<a href="shoping-cart.html" class="btn btn-default hidden-xs">update cart</a>
										      		<a href="checkout.html" class="btn btn-default">proceed to checkout</a>
										      	</td>
										      	<td class="two">
										      		<table>
										      			<tr>
										      				<td>Cart Subtotal</td>
										      				<td>$2.00</td>
										      			</tr>
										      			<tr>
										      				<td>Shipping and Handling</td>
										      				<td class="free-shipping">Free Shipping</td>
										      			</tr>
										      			<tr>
										      				<td>Order Total</td>
										      				<td class="total">$2.00</td>
										      			</tr>
										      		</table>
										      	</td>
										   </tr>   	
									    </table>							
									</div>
								</div>
							</section>
							<!-- AddtoCart Section End Here-->							
						</div>
					</div>
				</div>

			</div>
			<!-- site content ends -->

		<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="footer-logo">
								<a href="../layouts/index.html" title="Welcome to Charity"><img src="../../../../../public/assets/img/logo.png" alt="Charity"></a>
							</div>
							<p>
							It is a fundraising association that works globally to provide support in education via charity. Their members have spread worldwide to ensure that fundraising amount to delivering at the right place and for the right purposes
							</p>
							<address>
								<span> <i class="fa fa-home"></i> <span>A-105, Sector-82, Agra, 282001, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>+1 123 456 7890</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Twitter Feed</h6>
							<p>
								<a href="#"> <span class="charity">@charity</span> We are a charity trust that dedicatedly work for several countries around the globe.  Twitter Alerts will provide your some critical information about those people that need help of yours. <span class="comment-time">2 hours ago</span> </a>
							</p>
							<p>
								<a href="#"> <span class="charity">@charity</span> Use Twitter as the best conversation platform to make the people aware of the worst situation that many of Africans are facing. Tweet for them and raise fund in the best possible way. <span class="comment-time">2 hours ago</span> </a>
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Newsletter Signup</h6>
							<p>
								
Sign up your account to check our newsletter that will undoubtedly help you acquainted with current scenario.
							</p>
							<form role="form" class="sign-up">

								<div class="input-group">
									<input class="form-control" type="email" placeholder="Email">
									<div class="input-group-addon">
										<input type="submit" class="btn btn-theme" value="Submit">
									</div>
								</div>

							</form>

							<h6>Follow us</h6>
							<ul class="social-icons">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014, All Rights Reserved by Charity Theme.
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!--Footer Section End Here -->
		</div>
	-
		<script src="../../../../../public/assets/js/jquery.min.js"></script>
		<!-- Switcher Style Js -->
		<script src="assets/js/style-switcher/assets/js/style.switcher.js"></script>
		<script src="assets/js/jquery.cookie.js"></script>
		<!-- Switcher Style End Js -->
		<script src="../../../../../public/assets/js/bootstrap.min.js"></script>
		<script src="../../../../../public/assets/js/site.js"></script>
	</body>
</html>