<!DOCTYPE html>
<html lang="en">
<head>
    <%- include layouts/head.ejs %>
    <style>
        .contact-form .form-group.error .form-control, .contact-form .form-group.error label, .contact-form .error .form-control {
            border-color: #ff0000;
        }

        #success {
            display: none;
            position: absolute;
            top: -48px;
            left: 0;
        }

    </style>

</head>
<body>

<div id="wrapper">
    <!--Header Section Start Here -->
    <%- include layouts/Header.ejs %>
    <!-- Header Section End Here -->

    <!-- site content -->
    <div id="main">
        <!--Breadcrumb Section Start Here-->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Contact Us</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="layouts/index.html">Home</a>
                            </li>
                            <li class="active">
                                Contact Us
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb Section End Here-->
        <div class="content-wrapper container" id="page-info">
            <div class="row">
                <div class="col-xs-12 col-sm-6 contact-form">
                    <div class="col-xs-12" id="success"></div>
                    <h2>Send us Message</h2>
                    <form role="form" method="post">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="name">Name<span>*</span></label>
                                <input type="text" name="name" class="form-control" id="name">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="email">Email<span>*</span></label>
                                <input type="email" name="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sub">Subject<span>*</span></label>
                            <input type="text" name="subject" class="form-control" id="sub">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" id="message"></textarea>
                        </div>

                        <button type="button" class="btn btn-default" id="submit">
                            Submit
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-1 contact-address">
                    <h2>Get in touch</h2>
                    <address>
								<span> <strong>Address :</strong> <span>A-105, Sector-82,
										<br>
										Agra, 282001, India</span> </span>
                        <span> <strong>E-Mail :</strong> <span><a
                                        href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
                        <span> <strong>Tel :</strong> <span><a
                                        href="tel:+17079217269">+1 123 456 7890</a></span> </span>
                        <span> <strong>Fax :</strong> <span>+1 123 456 7890</span> </span>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!-- site content ends -->


    <!--Footer Section Start Here -->
    <%- include layouts/Footer.ejs %>
    <!--Footer Section End Here -->
</div>
<!-- Scripts are here -->
<%- include layouts/scripts.ejs %>
</body>
</html>
