<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Charity</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="../../../../public/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../../public/assets/css/bootstrap-theme.css" rel="stylesheet">
		<link href="../../../../public/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../../public/assets/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="../../../../public/assets/css/global.css" rel="stylesheet">
		<link href="../../../../public/assets/css/style.css" rel="stylesheet">
		<link href="../../../../public/assets/css/responsive.css" rel="stylesheet">
		<link href="../../../../public/assets/css/skin.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="layouts/index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Charity"><img src="../../../../public/assets/img/logo.png" alt="Charity"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="volunteer/volunteer.ejs" class="btn btn-default btn-volunteer">Become volunteer</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">Home <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="layouts/index.html">Index-1</a>
											</li>
											<li>
												<a href="layouts/index2.html">Index-2</a>
											</li>
											<li>
												<a href="layouts/index3.html">Index-3</a>
											</li>
											
										</ul>
									</div>
								</li>

								<li>
									<a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">Causes <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->

									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="causes/causes.ejs">Causes Home</a>
											</li>
											<li>
												<a href="causes/causes-detail.ejs">Causes Details full width</a>
											</li>
											<li>
												<a href="causes/causes-detail-with-sidebar.ejs">Causes Details with sidebar</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">features <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="our-story.html">Our Story</a>
											</li>
											<li>
												<a href="our-mission.html">Our Mission</a>
											</li>
											<li>
												<a href="volunteer/volunteer.ejs">Become a Volunteer</a>
											</li>
											<li>
												<a href="gallery/gallery-two-column.ejs">Gallery 2 Columns</a>
											</li>
											<li>
												<a href="gallery/gallery.ejs">Gallery 3 Columns</a>
											</li>
											<li>
												<a href="faq.html">Faq </a>
											</li>
											<li>
												<a href="layouts/error404.ejs">404 Error </a>
											</li>
											<li>
												<a href="events/event.ejs">event </a>
											</li>
											<li>
												<a href="events/event-details.ejs">Event-Details </a>
											</li>
											
											<li>
												<a href="donation/donation-payment-fail.ejs">Payment-Fail </a>
											</li>
											<li>
												<a href="donation/donation-payment-success.ejs">Payment-Success </a>
											</li>
											<li>
												<a href="launch.html">launch </a>
											</li>
										</ul>
									</div>
									<!-- end  -->

								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Store <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
										<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="shoping/shop-listing.html">Shop Listing</a>
											</li>
											<li>
												<a href="shoping/shop-detail.html">Shop Detail</a>
											</li>
											<li>
												<a href="shoping/shoping-cart.html">Shoping Cart</a>
											</li>
											
											<li>
												<a href="shoping/checkout.html">Checkout</a>
											</li>

										</ul>
									</div>
								</li>
								
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Gallery <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="portfolio/portfolio.ejs">Portfolio</a>
											</li>
											<li>
												<a href="portfolio/portfolio-detail.ejs">Portfolio Detail</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Blog <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="blogs/blog-full-width.ejs">Blog Full Width</a>
											</li>
											<li>
												<a href="blogs/blog-full-width-details.ejs">Blog Detail Full Width</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="contact-us.ejs">contact us</a>
								</li>

							</ul>
							</nav>
							
							<form class="navbar-form navbar-right search-form" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search Here">
								</div>
								<button type="submit">
									<i class="icon-search"></i>
								</button>
							</form>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Frequently Asked Questions</h1>
								<ul class="breadcrumb">
									<li>
										<a href="layouts/index.html">Home</a>
									</li>
									<li class="active">
										Faq's
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Breadcrumb Section End Here-->

				<div class="content-wrapper" id="page-info">
					<div class="container">

						<div class="row">
							<div class="col-xs-12">
								<header class="faq-header section-header">
									<h2>Please make sure that you finish <strong>FAQ below.</strong></h2>
								</header>
								<!-- Collape Section Start Here -->

								<div class="row faq">
									<div class="cols-xs-12 col-sm-6 anim-section">
										<h3>General Questions</h3>
										<div class="panel-group" id="accordion">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">  Is Charity A Recognized Organization ? <i class="fa fa-plus collape-plus"></i></a>
														</h4>
												</div>
												<div id="collapse-1" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
														Charity is a recognized fund raising non-government organization that is specially working for the welfare of African children.
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">  How Can I View Your Annual Report To Know That How You Use Our Money? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-2" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
														Everyone can access the annual report from our website or can have a printed copy of financial report from the nearest office.
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"> Don’t Government Provide Any Support? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-3" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															Charity is a non-government organization. We do not get any fund directly from the government, except exemption on various taxes. This minimizes our expenses and other costs.
														</p>
													</div>
												</div>
											</div>

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-4"> How Does Charity Covers Its Own Expenses? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-4" class="panel-collapse collapse in">
													<div class="panel-body">
														<p>
															Our expenses are very little that include, traveling, managing resources, collecting donation, monitoring activity and advertising. For our office management such as information system, furniture and other requirement, we get support from our partner at free or discounted rate.
														</p>
													</div>
												</div>
											</div>

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">  Why Does Charity Not Provide Information About Children? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-5" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															We use donors’ fund in all the resources and our programs to carry out the children’s holistic development and other welfares. Hence, there is no use of sharing name of children. To know about how do we use your fund, you can become our partner and explore that how our team work. 
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-6">  Does Charity Provide Information About Where My Donation Is Used? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-6" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															There are thousands of people, who make contribution in our projects. Therefore, it is not easy for us to prepare report regarding particular individual that comprises where his money is used. But, you can see the financial report on our website.
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-7">How Does Your Team Raise Fund For Resources? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-7" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															We have partnered with major organization & institutions as well as individual that provide us all the resources at heavy discount.
														</p>
													</div>
												</div>
											</div>

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-8">What Method Do Charity Use To Choose Project For Its Support? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-8" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															Our team comprises the experts of different backgrounds, including economist, marketing strategist, health care business, Journalist, financial management and others. They first scrutinize every aspect of the project and after finding it suitable, they start working on it.
														</p>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="cols-xs-12 col-sm-6 anim-section">
										<h3>General Questions</h3>
										<div class="panel-group" id="accordion-right">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-9"> Does Charity Employees Get Salary? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-9" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															Every full-time employee gets salary here. Our team believes that this is the best way to bring the talented professional here. Here, all the employees are paid modest salary as compared to the other organization. 
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-10">  Will My Little Contribution Be Helpful For You? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-10" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															Although the problem is huge, everyone’s little contribution will add up to become huge amount that can be invested to carry out the project and campaign in support of children welfare smoothly.
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-11"> How Does Charity Work To Ensure Child Rights? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-11" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
														We work with different communities and other NGOs to make children aware of their basic rights and help them access education and imperative healthy care needs.
														</p>
													</div>
												</div>
											</div>

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-right" href="#collapse-12">  What Are Modes Of Making Donation? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-12" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															In order to make it convenience for all the people, who want to donate their funds, there are different online payment modes, like net banking, credit and debit card system. Moreover, the user can also make donation through Pay Pal account.
														</p>
													</div>
												</div>
											</div>

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-13">  How Can I Make Donation?  <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-13" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															You can transfer your fund to us either by becoming partner with us or just go to our home page; there you will see different “Donate Now” options for our different programs. Just choose anyone and makes donation.
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-14">  Is Your Transaction Architecture Secure? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-14" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															Our online transaction system is completely secure; that no one can breach easily to hack all information regarding net banking, credit card and debit card.
														</p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-15">How Do You Help Improve Medical Care? <i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-15" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															We are working with various NGOs and healthcare organizations that help us improve medical facility. We also get imperative medicines to curb the shortage of medicines.  
														</p>
													</div>
												</div>
											</div>

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-right" href="#collapse-16"> How Do Sponsorship Help My Business?<i class="fa fa-plus collape-plus"></i></a></h4>
												</div>
												<div id="collapse-16" class="panel-collapse collapse">
													<div class="panel-body">
														<p>
															We are growing organization. Our team organizes various special and enjoyable events that grab attention of millions and this will automatically make your brand visible.   
														</p>
													</div>
												</div>
											</div>

										</div>
									</div>

								</div>
								<!-- Collape Section End Here -->
							</div>

						</div>

					</div>

					<!-- ask-us -->
					<section class="save-lives ask-us text-center">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
									<header class="page-header">
										<h2>You still have questions? <strong>Ask us</strong></h2>
										<p>
											Is there any query left? You can directly share with us and clear away all your confusions.
										</p>
									</header>
									<a class="btn btn-default" href="contact-us.ejs">ask questions</a>

								</div>
							</div>
						</div>
					</section>
					<!-- ask-us end  -->
				</div>

			</div>
			<!-- site content ends -->

			<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="footer-logo">
								<a href="layouts/index.html" title="Welcome to Charity"><img src="../../../../public/assets/img/logo.png" alt="Charity"></a>
							</div>
							<p>
								Make a little contribution towards children development in order to make their future better for our better world.
							</p>
							<address>
								<span> <i class="fa fa-home"></i> <span>A-105, Sector-82, Agra, 282001, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>+1 123 456 7890</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Twitter Feed</h6>
							<p>
								<a href="#"> <span class="charity">@charity</span> We are a charity trust that dedicatedly work for several countries around the globe.  Twitter Alerts will provide your some critical information about those people that need help of yours. <span class="comment-time">2 hours ago</span> </a>
							</p>
							<p>
								<a href="#"> <span class="charity">@charity</span> Use Twitter as the best conversation platform to make the people aware of the worst situation that many of Africans are facing. Tweet for them and raise fund in the best possible way. <span class="comment-time">2 hours ago</span> </a>
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Newsletter Signup</h6>
							<p>
								Sign up and get the daily updates associated with our upcoming events and campaigns.
							</p>
							<form role="form" class="sign-up">

								<div class="input-group">
									<input class="form-control" type="email" placeholder="Email">
									<div class="input-group-addon">
										<input type="submit" class="btn btn-theme" value="Submit">
									</div>
								</div>

							</form>

							<h6>Follow us</h6>
							<ul class="social-icons">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014, All Rights Reserved by Charity Theme.
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!--Footer Section End Here -->
		</div>
		<script src="../../../../public/assets/js/jquery.min.js"></script>
		<!-- Switcher Style Js -->
		<script src="assets/js/style-switcher/assets/js/style.switcher.js"></script>
		<script src="assets/js/jquery.cookie.js"></script>
		<!-- Bootstrap Js--> 
		<script src="../../../../public/assets/js/bootstrap.min.js"></script>
		<script src="../../../../public/assets/js/jquery.easing.min.js"></script>
		<!--Main Slider Js-->
		<script src="../../../../public/assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script src="../../../../public/assets/revolution-slider/js/jquery.themepunch.revolution.js"></script>
		<!--Main Slider Js End -->
		<script src="../../../../public/assets/js/jquery.flexslider.js"></script>
		<script src="../../../../public/assets/js/site.js"></script>
	</body>
</html>