<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../layouts/head.ejs%>

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include ../layouts/Header.ejs%>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Our Blog</h1>
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="active">
										Blog
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Breadcrumb Section End Here-->
				<div class="content-wrapper container" id="page-info">
					
					<div class="row">
						<!--Article Section Start Here-->
						<div class="col-xs-12">
							<!--block Frist Start Here-->
							<article class="blog">
								<figure>
								<img src="../../../../../assets/img/blog-pic.jpg" alt="">
								</figure>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<h2 class="h1">Fundraising initiatives for better life of the underprivileged children in Africa </h2>
										<ul class="post-in">
											<li>
												Posted In : category
											</li>
											<li>
												30 : comments
											</li>
										</ul>
										<p>
											Last month, fund raising initiatives were taken up and drives were launched to attract donations for the education of the underprivileged children. Many people participated in the event and donated their heart out.
										</p>
										<p>
											<a href="blog-full-width-details.ejs" class="btn btn-default" role="button">READ MORE</a>
										</p>
									</div>
								</div>
							</article>
							<!--block Frist End Here-->
							<!--block Second Start Here-->
							<article class="blog anim-section">
								<section class="img-slider flex-slide flexslider">
									<ul class="slides">
									<li>
										<img src="../../../../../assets/img/blog-pic0.jpg" alt="">
									</li>
									<li>
										<img src="../../../../../assets/img/blog-pic1.jpg" alt="">
									</li>
									<li>
										<img src="../../../../../assets/img/blog-pic3.jpg" alt="">
									</li>
									</ul>
								</section>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<h2 class="h1">Fundraising for African unprivileged children </h2>
										<ul class="post-in">
											<li>
												Posted In : category
											</li>
											<li>
												30 : comments
											</li>
										</ul>
										<p>
											We have been raising funds with great difficulty for the work that this charity does in Africa. We work in rural communities in Eastern Nigeria and other parts and provide funding for widows to build businesses in order for them to help themselves and stimulate the local economy. 
										</p>
										<p>
											We work with young women to train and develop their expertise in sewing and tailoring so they can start their own business and contribute to the community. This ensures that they avoid joining the cohort of ladies in the oldest industry known to man- the “night trade.
										</p>
										<p>
											<a href="blog-full-width-details.ejs" class="btn btn-default" role="button">READ MORE</a>
										</p>
									</div>
								</div>
							</article>
							<!--block Second End Here-->
							<!--block Third Start Here-->
							<article class="blog anim-section">
								<div class="embed-responsive embed-responsive-16by9">
													<img src="../../../../../assets/img/video-frame3.jpg" alt="Click to play" data-video="http://www.youtube.com/embed/wN3gueLT0D8?autoplay=1"/>
												</div>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<h2 class="h1">Bringing Changes in 2015 </h2>
										<ul class="post-in">
											<li>
												Posted In : category
											</li>
											<li>
												30 : comments
											</li>
										</ul>
										<p>
The year 2014 was a very exciting year for us and the first half of 2015 is proving to be the same. We have taken steps through the first half of this year to expand our influence throughout the United States and the Continent of Africa. Two more storage units have been rented and supplies are already coming in as we prepare to ship another container. 
										</p>
										<p>
											<a href="blog-full-width-details.ejs" class="btn btn-default" role="button">READ MORE</a>
										</p>
									</div>
								</div>
							</article>
							<!--block Third End Here-->
							<!--block Fourth Start Here-->
							<article class="blog anim-section">
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<ul class="post-in">
											<li>
												Posted In : category
											</li>
											<li>
												30 : comments
											</li>
										</ul>
									</div>
								</div>
								<blockquote class="blog-callout">
									<p>
										“We're really careful about amplifying the great work of others in every way that we can, and we don't like attaching our names to things.”
									</p>
									<footer>
										Steve Jobs
									</footer>
								</blockquote>
							</article>
							<!--block Four End Here-->
							<!--block Five Start Here-->
							<section class="blog anim-section">
								<div class="blog-alert">
									<h2 class="h1">The Newest WordPress Themes Around.</h2>
									<p>
										<a href="#">http://themeforest.net/item/baka</a>
									</p>
									<a href="#" class="embed-link"><i class="icon-embed"></i></a>
								</div>
							</section>
							<!--block Five EHere-->
							<!--block Six Start Here-->
							<article class="blog anim-section">
								<audio controls>
									<source src="horse.ogg" type="audio/ogg">
									<source src="horse.mp3" type="audio/mpeg">
									<source src="horse.wav" type="audio/wav">
									Your browser does not support the audio tag.
								</audio>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<h2 class="h1">Improve Health of 200 kids in Uganda </h2>
										<ul class="post-in">
											<li>
												Posted In : category
											</li>
											<li>
												30 : comments
											</li>
										</ul>
										<p>
											This project will purchase a motor bike to be used by a project health contact person to enable him monitor child health.Visits by healthcare professionals to remote villages improve child health monitoring and overall community awareness.
										</p>
										<p>
											<a role="button" class="btn btn-default" href="blog-full-width-details.ejs">READ MORE</a>
										</p>
									</div>
								</div>
							</article>
							<!--block Six End Here-->
							

						</div>
					<!--Article Section End Here-->
					</div>
				
				</div>
			</div>
			<!-- site content ends -->

			<!--Footer Section End Here -->
			<%- include ../layouts/Footer.ejs%>
			<!--Footer Section End Here -->
		</div>
		<!-- Scripts are here -->
		<%- include ../layouts/scripts.ejs%>
	</body>
</html>