<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../layouts/head.ejs%>

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include ../layouts/Header.ejs%>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main" >
			<!-- Breadcrumb Section Start Here -->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Our Blog</h1>
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="active">
										Blog
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Breadcrumb Section End Here -->
				<div class="content-wrapper container" id="page-info">
					<div class="row">
						<div class="col-xs-12">
							<article class="blog blog-details anim-section">
								<figure>
								<img src="../../../../../assets/img/blog-pic.jpg" alt="">
								</figure>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<h2 class="h1">Fundraising initiatives for better life of the underprivileged children in Africa</h2>
										<ul class="post-in">
											<li>
												Posted In : category
											</li>
											<li>
												30 : comments
											</li>
										</ul>
										<p>
											
Last month, fund raising initiatives were taken up and drives were launched to attract donations for the education of the underprivileged children. Many people participated in the event and donated their heart out.
										</p>
										<p>
											 We assure our sponsors and contributors that the money will surely bring a great difference in the lives of these children. Almost £35m has been raised by charities using a direct debit processing platform that was rolled out by the Charities Aid Foundation last year.
										</p>
										<blockquote class="callout">
											<p>
												
According to a statement released by the authority, the total amount given through the CAF Donate service stands at £34.8m. The statement said that over 2,000 charities are using the payment platform and 100 new charities are signing up every month.  
											</p>
										</blockquote>
										<h3 class="h2">Some facts and figure about donation</h3>
										<p>
											
CAF also said that 88,294 people have set up regular, direct debit donations in the last 12 months, while a further 91,081 individuals have made one-off donations from their bank account to individual charities. The average, one-off donation made via CAF Donate is £89.  
										</p>
										<figure>
										<img class="pull-left" src="../../../../../assets/img/img-blog-details-01.jpg" alt="">
										</figure>
										<p>
											
CAF Donate was launched in June 2014 to help ease the administrative burden of processing both online and offline donations for small to medium-sized charities. CAF also said it would make it easier for charities to take both regular donations and one-off gifts.
										</p>
										<p>
											It was set up to differentiate itself from other, existing sites such as JustGiving, in that CAF Donate can be run on a charity’s own website, rather than through a third party.
Chris Allwood, senior product development manager at CAF, said:




										</p>
										<figure>
										<img class="pull-right" src="../../../../../assets/img/img-blog-details-02.jpg" alt="">
										</figure>
										<ul>
											<li>
												People now increasingly use card payments and direct debits as their preferred way of paying for things and giving to good causes.

											</li>
											<li>
												While larger charities are well equipped to handle this, thousands of smaller organization have previously been priced out of being able to accept money in this way through a combination of processing fees and admin costs.
											</li>
											<li>
												Prior to its introduction, cashless payments were not an option for most charities. 
											</li>
											<li>
												We now want every charity to have the option to receive donations in this way.
											</li>
											<li>
												Speak in terms of the other person’s interests  Nam ac leo arcu Aliquam erat volutpat Suspendisse eget
											</li>
											<li>
												Make the other person feel important and do it sincerely
											</li>
											<li>
												that a person’s name is to that person the sweetest and most important sound in any language.
											</li>
										</ul>
										<div class="row block-content">
											<div class="col-xs-12 col-sm-6">
												<h3>Charity events</h3>
												<p>
												We conduct various charity events to ensure that the children in Africa get good education and better medical facilities. Our events include marathon, painting competitions and many such events to collect resources for the purpose. 
												</p>
											</div>
											<div class="col-xs-12 col-sm-6">
												<h3>Charity events</h3>
												<p>
													Through continuous fundraising events, we strive to make the life of the impoverished children better. We also try to improve their nutrition level by providing them better food, so that they can provide a healthy life to their children.

												</p>
											</div>
										</div>
										<p>
											We are always motivated and poised towards betterment of children who are leading miserable lives in the impoverished areas of Africa. Your donations can help us achieve our aim.
										</p>
									</div>
								</div>
							</article>

							<!-- comment block -->
							<div class="row">
								<div class="col-xs-12">
									<div class="comment-block">
										<div class="row">
											<div class="col-xs-12 col-sm-10 col-sm-offset-1">
												<article class="media comment profile-block">
													<a class="pull-left" href="#"> 
														<figure>
														<img class="media-object" src="../../../../../assets/img/profile-pic.jpg" alt="">
														</figure>
														</a>
													<div class="media-body">
														<header>
															<h4 class="media-heading">Jhony waker</h4>
															<span class="date">Tue, 05/14/2013 - 10:19 AM</span>
															<a href="#" class="btn btn-default pull-right">View Profile</a>
														</header>
														<p>
														Working with the charity trust has been a very revealing and enriching experience. I realized that there are many small things that can be done to contribute to child rights. Yes, what is needed is a bit of sensitivity and willingness to do something worthwhile.
														</p>
														<ul class="social-icons">
															<li>
																<a href="#"><i class="fa fa-facebook"></i></a>
															</li>
															<li>
																<a href="#"><i class="fa fa-twitter"></i></a>
															</li>
															<li>
																<a href="#"><i class="fa fa-dribbble"></i></a>
															</li>
															<li>
																<a href="#"><i class="fa fa-pinterest"></i></a>
															</li>
															<li>
																<a href="#"><i class="fa fa-google-plus"></i></a>
															</li>
															<li>
																<a href="#"><i class="fa fa-instagram"></i></a>
															</li>
														</ul>
													</div>
												</article>

												<section class="live-comment">
													<h3>Comments</h3>

													<article class="media comment">
														<a class="pull-left" href="#"> 
															<figure>
															<img class="media-object" src="../../../../../assets/img/profile-pic-01.jpg" alt="">
															</figure>
															</a>
														<div class="media-body">
															<header>
																<h4 class="media-heading">John Doe</h4>
																<span class="date">Tue, 05/14/2013 - 10:19 AM</span>
																<a href="#" class="btn btn-default btn-sm pull-right">Reply</a>
															</header>
															<p>
																Changing the lives of children is a continuous process. Nothing can be done in a limited period. As individuals we have to continue to give support by way of financial help, time as well as other resources. I believe in continuity and devotion without deviation. The charity is doing just that.
															</p>
														</div>
													</article>

													<article class="media comment col-xs-offset-1">
														<a class="pull-left" href="#"> 
															<figure>
															<img class="media-object" src="../../../../../assets/img/profile-pic-02.jpg" alt="">
															</figure>
															</a>
														<div class="media-body">
															<header>
																<h4 class="media-heading">Tommy Vedvik</h4>
																<span class="date">Tue, 05/14/2013 - 10:19 AM</span>
																<a href="#" class="btn btn-default btn-sm pull-right">Reply</a>
															</header>
															<p>
																Working with the charitable trust has been a very revealing and enriching experience. I realized that there are many small things that can be done to contribute to child rights. Yes, what is needed is a bit of sensitivity and willingness to do something worthwhile.
															</p>
														</div>
													</article>

													<article class="media comment">
														<a class="pull-left" href="#"> 
															<figure>
															<img class="media-object" src="../../../../../assets/img/profile-pic-03.jpg" alt="">
															</figure>
															 </a>
														<div class="media-body">
															<header>
																<h4 class="media-heading">Karen</h4>
																<span class="date">Tue, 05/14/2013 - 10:19 AM</span>
																<a href="#" class="btn btn-default btn-sm pull-right">Reply</a>
															</header>
															<p>
															Putting children first is really about ensuring a healthy future for our nation. No country can hope to progress and become truly civilized unless its young have access to food, shelter, clothing, education and a life full of promise; a life that allows them to explore their immense potential.
															</p>
														</div>
													</article>
												</section>
											</div>

										</div>
									</div>
								</div>
							</div>
							<!-- comment block -->
							<!-- leave reply -->
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-sm-offset-1">
									<div class="reply-form">
										<h3>Leave Replay</h3>
										<form role="form">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<div class="form-group">
														<label for="name">Name<span>*</span></label>
														<input type="text" class="form-control" id="name">
													</div>
													<div class="form-group">
														<label for="email">Email<span>*</span></label>
														<input type="email" class="form-control" id="email">
													</div>
													<div class="form-group">
														<label for="website">Website</label>
														<input type="text" class="form-control" id="website" >
													</div>
												</div>
												<div class="col-xs-12 col-sm-6">
													<div class="form-group">
														<label for="comment">Comment</label>
														<textarea class="form-control" id="comment"></textarea>
													</div>

													<button type="submit" class="btn btn-default pull-right">
														Submit
													</button>
												</div>
											</div>

										</form>
									</div>
								</div>
							</div>
							<!-- leave reply -->
						</div>
					</div>
				</div>
			</div>
			<!-- site content ends -->

			<!--Footer Section Start Here -->
			<%- include ../layouts/Footer.ejs%>
	<!--Footer Section End Here -->
		</div>
		<!-- Scripts are here -->
		<%- include ../layouts/scripts.ejs%>
	</body>
</html>