<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../layouts/head.ejs%>

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include ../layouts/Header.ejs%>
			<!-- Header Section End Here -->
			<!-- site content -->
			<div id="main">
			<!-- Breadcrumb Section Start Here -->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Portfolio </h1>
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="active">
										Portfolio 
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Breadcrumb Section End Here -->
				<div class="content-wrapper" id="page-info">

					<!-- portfolio detail sections -->
					<div class="container">
						<div class="row">
							<div class="col-xs-12">

								<header class="page-header section-header text-left">
									<h2>Focusing on Forgotten Rural Community</h2>
								</header>

								<div class="portfolio-detail-description">
									
									<img alt="" src="../../../../../assets/img/portfolio.jpg">
									
									<div class="row portfolio-details">
										<div class="col-xs-12">

											<div class="detail-description">

												<strong class="detail-summary">
													
Rural communities throughout the world have been overlooked in the allocation of economic development. To upgrade the condition of these communities we need strong economical support from different nations of the world.
												</strong>
												<p>
													What we need is an organized program specifically aimed to upgrade the condition of rural communities. The venture would require nation wide attention of all the communities so that fund can be raised and received to meet the diverse needs of rural communities. Monitory help will also benefit to raise the health and economical well-being of deprived communities.  Such initiative would offer an opportunities to these people to fulfill their basic necessities and raise the standard of their life. 


												</p>

												<p>

													Take a look on these recommendations to make these deprived children feel special for a while. A little help from your side can become the reason for their smile. 
												</p>

												<ul class="list-unstyled yello-icon">

													<li>
														Show your genuine interest to become a part of our donation campaign






													</li>
													<li>
											Monitory help from your side can bring a smile to these faces
													</li>
													<li>
														Always try to recall such deprived children by their names. It will let them fell happy
													</li>
													<li>
														Try to talk more about such children and influence other to donate 
													</li>
													<li>
														Speak more and more about economically deprived children so that they can get attention of other people too
													</li>
													<li>
														Show your sincere concern to uplift the condition of African children
													</li>
													<li>
														Be a part of donation campaign and donate as much as you can from your side  
													</li>

												</ul>

												<a class="btn btn-default" href="#">BUTTON</a>
											</div>

										

										

										<header class="page-header section-header text-left">
												<h2 class="text-left h3">Related Portfolio</h2>
											</header>
										<div class="row we-help anim-section">
												
											<div class="cols-xs-12 zoom col-sm-4">
												<div class="thumbnail">
													<a href="portfolio-detail.ejs" class="img-thumb"><img alt="" src="../../../../../assets/img/portfolio1.jpg"></a>

													<h3 class="h3"><a href="portfolio-detail.ejs">Bring smile to these genuine faces</a></h3>
													<p>
														
A little monitory help is all that it takes to bring a smile to the faces of these poverty stricken African children. 
													</p>

												</div>
											</div>

											<div class="cols-xs-12 zoom col-sm-4">
												<div class="thumbnail">
													<a href="portfolio-detail.ejs" class="img-thumb"><img alt="" src="../../../../../assets/img/portfolio2.jpg"></a>
													<h3 class="h3"><a href="portfolio-detail.ejs">Help Economic Opportunity</a></h3>
													<p>
														
We are eager to get economic support to secure African children’s health and academic development
													</p>

												</div>
											</div>

											<div class="cols-xs-12 zoom col-sm-4">
												<div class="thumbnail">
													<a href="portfolio-detail.ejs" class="img-thumb"><img alt="" src="../../../../../assets/img/portfolio3.jpg"></a>

													<h3 class="h3"><a href="portfolio-detail.ejs">Help us secure a child’s future</a></h3>
													<p>
														
Bring us the capability to secure the future of African children by donating your support (financial). 
													</p>

												</div>
											</div>
										</div>

									
								</div>

							</div>
						</div>
					</div>
					<!--  sections end -->

				</div>

			</div>
			</div>
			</div>
			<!-- site content ends -->

			<!--Footer Section Start Here -->
			<%- include ../layouts/Footer.ejs%>
	<!--Footer Section End Here -->
		</div>
		<!-- Scripts are here -->
		<%- include ../layouts/scripts.ejs%>
	</body>
</html>