<!-- join now form popup -->
<div class="modal join-now-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <header class="page-header">
                    <h2>Become a <strong>Volunteer</strong></h2>
                </header>
            </div>
            <div class="modal-body">
                <form role="form" method="post" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="name-join">First Name<span>*</span></label>
                                <input type="text" name="name" class="form-control" id="name-join">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="last-name-join">Last Name<span>*</span></label>
                                <input type="text" name="last_name" class="form-control" id="last-name-join">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="email-join">Email<span>*</span></label>
                                <input type="text" name="email" class="form-control" id="email-join">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="phone-join">Phone<span>*</span></label>
                                <input type="text" maxlength="10" name="phone" class="form-control" id="phone-join">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>Residence Proof<span>*</span></label>
                                <select  id="proof" class="form-control select2"  name="residence_proof" >
                                    <optgroup label="Select Residence Proof">
                                        <option name="" value="0">Select Residence Proof</option>
                                        <% if(proof.length > 0 ){
                                           // /**/ var optionData = records.residence_proof
                                        proof.forEach(function(row){
                                            // var selected = (row.value === optionData )? "selected":""
                                        %>
                                        <option value="<%= row.value %>" ><%= row.title %></option>
                                        <%  }) } %>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="education">Education<span>*</span></label>
                                <input type="text" name="education" class="form-control" id="education">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="job details">Job Details<span>*</span></label>
                                <input type="text" name="job_details" class="form-control" id="job-details">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <label for="message-join">Why you join volunteer<span>*</span></label>
                                <textarea class="form-control" name="why_you_join" id="why_you_join"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <label for="exampleInputFile">Attach Image And Signature</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" value="<%= records.image%>" id="image" multiple required>
                                        <label class="custom-file-label" for="image"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-default pull-right">
                                    Submit
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <p class="forms-notes">
                                    Note: Note for voulnteer form
                                </p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- join now form popup -->