<!-- join now form popup -->
<div class="modal join-now-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <header class="page-header">
                    <h2>Become a <strong>Volunteer</strong></h2>
                </header>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="name-join">Name<span>*</span></label>
                                <input type="text" class="form-control" id="name-join">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="last-name-join">Last Name<span>*</span></label>
                                <input type="text" class="form-control" id="last-name-join">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="email-join">Email<span>*</span></label>
                                <input type="text" class="form-control" id="email-join">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="phone-join">Phone<span>*</span></label>
                                <input type="text" class="form-control" id="phone-join">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="zip-code-join">ZIP code<span>*</span></label>
                                <input type="password" class="form-control" id="zip-code-join">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <label for="message-join">Why you join volunteer<span>*</span></label>
                                <textarea class="form-control" id="message-join"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <button type="button" class="btn btn-default pull-right">
                                    Submit
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <p class="forms-notes">
                                    Note: Note for voulnteer form
                                </p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- join now form popup -->