<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Charity</title>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="../../../../../public/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/bootstrap-theme.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../../../../public/assets/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/global.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/style.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/responsive.css" rel="stylesheet">
		<link href="../../../../../public/assets/css/skin.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Charity"><img src="../../../../../public/assets/img/logo.png" alt="Charity"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="../volunteer/volunteer.ejs" class="btn btn-default btn-volunteer">Become volunteer</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">Home <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="index.html">Index-1</a>
											</li>
											<li>
												<a href="Dashboard2/Dashboard2.ejs">Index-2</a>
											</li>
											<li>
												<a href="Dashboard3/DashboardContent3.ejs">Index-3</a>
											</li>

										</ul>
									</div>
								</li>

								<li>
									<a href="javascript:;"  data-toggle="dropdown"  class="submenu-icon">Causes <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->

									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../causes/causes.ejs">Causes Home</a>
											</li>
											<li>
												<a href="../causes/causes-detail.ejs">Causes Details full width</a>
											</li>
											<li>
												<a href="../causes/causes-detail-with-sidebar.ejs">Causes Details with sidebar</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">features <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../our-story.ejs">Our Story</a>
											</li>
											<li>
												<a href="../our-mission.ejs">Our Mission</a>
											</li>
											<li>
												<a href="../volunteer/volunteer.ejs">Become a Volunteer</a>
											</li>
											<li>
												<a href="../gallery/gallery-two-column.ejs">Gallery 2 Columns</a>
											</li>
											<li>
												<a href="../gallery/gallery.ejs">Gallery 3 Columns</a>
											</li>
											<li>
												<a href="../faq.ejs">Faq </a>
											</li>
											<li>
												<a href="error404.ejs">404 Error </a>
											</li>
											<li>
												<a href="../events/event.ejs">event </a>
											</li>
											<li>
												<a href="../events/event-details.ejs">Event-Details </a>
											</li>

											<li>
												<a href="../donation/donation-payment-fail.ejs">Payment-Fail </a>
											</li>
											<li>
												<a href="../donation/donation-payment-success.ejs">Payment-Success </a>
											</li>
											<li>
												<a href="../launch.ejs">launch </a>
											</li>
										</ul>
									</div>
									<!-- end  -->

								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Store <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
										<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../shoping/shop-listing.html">Shop Listing</a>
											</li>
											<li>
												<a href="../shoping/shop-detail.html">Shop Detail</a>
											</li>
											<li>
												<a href="../shoping/shoping-cart.html">Shoping Cart</a>
											</li>

											<li>
												<a href="../shoping/checkout.html">Checkout</a>
											</li>

										</ul>
									</div>
								</li>

								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Gallery <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../portfolio/portfolio.ejs">Portfolio</a>
											</li>
											<li>
												<a href="../portfolio/portfolio-detail.ejs">Portfolio Detail</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="javascript:;" data-toggle="dropdown" class="submenu-icon">Blog <span class="glyphicon glyphicon-chevron-down"></span> <span class="glyphicon glyphicon-chevron-up"></span> </a>
									<!-- Drop Down  -->
									<div  class="dropdown-menu">
										<ul>
											<li>
												<a href="../blogs/blog-full-width.ejs">Blog Full Width</a>
											</li>
											<li>
												<a href="../blogs/blog-full-width-details.ejs">Blog Detail Full Width</a>
											</li>

										</ul>
									</div>
								</li>
								<li>
									<a href="../contact-us.ejs">contact us</a>
								</li>

							</ul>
							</nav>

							<form class="navbar-form navbar-right search-form" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search Here">
								</div>
								<button type="submit">
									<i class="icon-search"></i>
								</button>
							</form>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->

				<!-- Site Content -->
			<div id="main">
				<!-- banner slider Start Here -->
				<section class="rev_slider_wrapper banner-section">
					<div class="rev_slider banner-slider">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-1" >
								<!-- MAIN IMAGE -->
								<img src="../../../../../public/assets/img/slide-banner-01.jpg" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">

								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="500"
								data-speed="700"
								data-y="103"
								data-x="152"
								class="tp-caption sft">
									<span class="btn btn-bg">FEATURED CAUSE</span>
								</div>

								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="700"
								data-y="150"
								data-x="152"
								class="tp-caption sft banner-heading">
									<h2><strong>Donate &amp; Help</strong>

									Raise Fund For African Children and Their Education
</h2>
								</div>

								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="1000"
								data-speed="700"
								data-y="304"
								data-x="152"
								class="tp-caption sft banner-summary">
									<p>
										The world's best fundraising website works outstandingly for African children by raising money for ideal cause, including medical bills, education, help and awesome donation causes.
									</p>
								</div>

								<div
								data-endspeed="1200"
								data-easing="easeOutCirc"
								data-start="1200"
								data-speed="700"
								data-y="416"
								data-x="152"
								class="tp-caption sft">
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Donate NOW</a>
								</div>
							</li>
							<!-- SLIDE  -->
								<!-- SLIDE  -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-2" >
								<!-- MAIN IMAGE -->
								<img src="../../../../../public/assets/img/slide-banner-02.jpg" alt="banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="500"
								data-speed="500"
								data-y="406"
								data-x="152"
								class="tp-caption sfb feature-btn ">
									<span class="btn btn-warning btn-sm">FEATURED CAUSE</span>
								</div>
								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="500"
								data-y="448"
								data-x="152"
								class="tp-caption sfb">
									<div class="trans-grey"></div>
								</div>
								<div
								data-endspeed="1500"
								data-easing="easeOutCirc"
								data-start="1500"
								data-speed="1000"
								data-y="466"
								data-x="177"
								class="tp-caption banner-heading bottom-animation text-white sfb">
									<h2 class="h1"><strong>Donate &amp; Help</strong>

									Africans For Education</h2>
								</div>
								<div
								data-endspeed="1700"
								data-easing="easeOutCirc"
								data-start="1700"
								data-speed="700"
								data-y="550"
								data-x="177"
								class="tp-caption sfb donate-button">
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn-link">Donate NOW</a>
								</div>

							</li>
							<!-- SLIDE  -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
								<!-- MAIN IMAGE -->
								<img src="../../../../../public/assets/img/slide-banner-03.jpg" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">

								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="500"
								data-speed="700"
								data-y="103"
								data-x="152"
								class="tp-caption sft banner-feaure">
									<span class="btn btn-bg">FEATURED CAUSE</span>
								</div>

								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="700"
								data-y="150"
								data-x="152"
								class="tp-caption sft third-style banner-heading banner-title">
									<h2><strong>Donate &amp; Help</strong>

									Support African Children In Making Their Career</h2>
								</div>
								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="1000"
								data-speed="700"
								data-y="244"
								data-x="152"
								class="tp-caption sft third-style banner-summary banner-description">
									<p>
										Become volunteer and start donating for those, who are unable to get education that they deserve. Give your full support to make their career.
									</p>
								</div>

								<div
								data-endspeed="1200"
								data-easing="easeOutCirc"
								data-start="1200"
								data-speed="700"
								data-y="354"
								data-x="152"
								class="tp-caption sft banner-btn">
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Donate NOW</a>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<!-- banner slider End Here -->
	<!-- Our Causes Section Start Here-->
				<section class="our-causes">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="page-header section-header clearfix">
									<h2>Help multifarious people with your little donation. <strong> Go Through Our Causes</strong></h2>
								</div>

								<div class="article-list flexslider article-slider progressbar">
									<ul class="slides">
									<li>
									<div class="items zoom">
										<h3 class="h6">Help African Children Get Their Own Homes</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-01.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">72% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
										Improve living style of people, who are affected by several health issues & poverty and unable to come out this situation.
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Make Girls Educated To Aid Them Earn Reputed Position</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-02.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">60% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											Give an opportunity to girls to become educated, so that, they can stand with boys and get a self exposure worldwide.
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Help us to send Vegetables to Africa</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-03.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">80% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											You can offer your support by sending vegetables that we can further send to these children in Africa
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Help African Children Get Their Own Homes</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-01.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">72% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											Improve living style of people, who are affected by several health issues & poverty and unable to come out this situation.
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Make Girls Educated To Aid Them Earn Reputed Position</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-02.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">60% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											Give an opportunity to girls to become educated, so that, they can stand with boys and get a self exposure worldwide.
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Help us to send Vegetables to Africa</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-03.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">80% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											You can offer your support by sending vegetables that we can further send to these children in Africa
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Help African Children Get Their Own Homes</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-01.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">72% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
										Improve living style of people, who are affected by several health issues & poverty and unable to come out this situation.
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Make Girls Educated To Aid Them Earn Reputed Position</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-02.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">60% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											Give an opportunity to girls to become educated, so that, they can stand with boys and get a self exposure worldwide.
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>
									<li>
									<div class="items zoom">
										<h3 class="h6">Help us to send Vegetables to Africa</h3>
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-03.jpg" alt="">
											</figure>
											</a>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-value">80% </span>
											</div>
										</div>
										<span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
										<p>
											You can offer your support by sending vegetables that we can further send to these children in Africa
										</p>
										<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
									</div>
									</li>


								</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
	<!-- Our Causes Section End Here-->

	<!-- How To Help Section Start Here -->
				<section class="how-to-help">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 ">
								<header class="page-header section-header">
									<h2>How you can help? <strong>See below</strong></h2>
								</header>

								<div class="row help-list">
									<div class="col-xs-12 col-sm-6 col-lg-5">
										<article class="media">
											<a class="pull-left warning-icon-box" href="../our-story.ejs"><i class="icon-volume"></i></a>
											<div class="media-body less-width">
												<h3 class="media-heading">Media</h3>
												<p>
													Donate money anywhere &amp; anytime to offer help in Africans through different medias.
												</p>
											</div>
										</article>
										<article class="media">
											<a class="pull-left warning-icon-box" href="../volunteer/volunteer.ejs"><i class="icon-user"></i></a>
											<div class="media-body less-width">
												<h3 class="media-heading">Become Volunteer</h3>
												<p>
													Take initiate to become a volunteer and help those people, who do not have any hope for good living.
												</p>
											</div>
										</article>
										<article class="media">
											<a class="pull-left warning-icon-box" href="external.html" data-toggle="modal" data-target=".donate-form"><i class="icon-heart"></i></a>
											<div class="media-body less-width">
												<h3 class="media-heading">Send Donation</h3>
												<p>
													Choose any medium either offline or online to send donation and aid NGOs to support people who are facing poverty.

												</p>
											</div>
										</article>
									</div>
									<div class="col-xs-12 col-sm-6 col-lg-6 col-lg-offset-1">
										<div class="embed-responsive embed-responsive-16by9">
											<img src="../../../../../public/assets/img/video-frame.jpg" alt="Click to play" data-video="http://www.youtube.com/embed/zP_D_YKnwi0?autoplay=1"/>
											</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</section>
	<!-- How To Help Section End Here-->

	<!-- Become Volunteer Section Start Here -->
				<section class="parallax-section parallax">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-7 col-md-5">
								<h2>Become <strong>Volunteer</strong></h2>
								<p>
									Spread the awareness of helping people, so that they can live a normal life in the society and educate their children that everyone deserves.
								</p>
								<a data-toggle="modal" href="external.html" data-target=".join-now-form" class="btn btn-default">Join Now</a>
							</div>
						</div>
					</div>
				</section>
	<!-- Become Volunteer Section End Here -->

	<!-- Latest News Section Start Here -->
				<section class="latest-news ">
					<div class="container anim-section">
						<div class="row">
							<div class="col-xs-12">
								<header class="page-header section-header clearfix">
									<h2>Checkout whats going on. <strong>Latest News</strong></h2>
								</header>

								<div class="article-list row">
									<div class="items zoom col-xs-12 col-sm-4">
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-04.jpg" alt="">
											</figure>
											</a>
										<h3>Fund raising initiatives</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Posted In : category</span>
										<p>
											Last month, fund raising initiatives were taken up and drives were launched to attract donations for the education of the underprivileged children. Many people participated in the event donated their heart out. We assure our sponsors and contributors that the money will surely bring a great difference in the lives of these children.
										</p>
										<a href="../blogs/blog-full-width.ejs" class="btn btn-default">READ MORE</a>
									</div>
									<div class="items zoom col-xs-12 col-sm-4">
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-05.jpg" alt="">
											</figure>
											</a>
										<h3>Fundraising for African unprivileged children</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Posted In : category</span>
										<p>
											We have been raising funds with great difficulty for the work that this charity does in Africa. We work in rural communities in Eastern Nigeria and other parts and provide funding for widows to build businesses in order for them to help themselves and stimulate the local economy.
										</p>
										<a href="../blogs/blog-full-width.ejs" class="btn btn-default">READ MORE</a>
									</div>
									<div class="items zoom col-xs-12 col-sm-4">
										<a href="#" class="img-thumb">
											<figure>
											<img src="../../../../../public/assets/img/img-slide-06.jpg" alt="">
											</figure>
											</a>
										<h3>Bringing Change in 2015</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Posted In : category</span>
										<p>
											The year 2014 was a very exciting year for us and the first half of 2015 is proving to be the same. We have taken steps through the first half of this year to expand our influence throughout the United States and the Continent of Africa.
										</p>
										<a href="../blogs/blog-full-width.ejs" class="btn btn-default">READ MORE</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
	<!-- Latest News Section End Here -->

	<!--Testimonial Section Start Here -->
				<section class="testimonial parallax">
					<div class="overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="testimonial-slider flexslider">
									<ul class="slides">
										<li>
									<div class="slide">
										<h2>Donation Holders say <strong> Read Below </strong></h2>
										<blockquote>
											<p>
												“Most of the dimensions related to life of human and their their living condition are in trouble these days, so help them to take a voluntarily step.”
											</p>
											<footer>
												<span>TONY VEDVIK</span>
												<cite>(Head Sales of Sense Technology)</cite>
											</footer>
										</blockquote>
									</div>
									</li>
									<li>
									<div class="slide">
										<h2>Donation Holders say <strong> Read Below</strong></h2>
										<blockquote>
											<p>
												“Etiam imperdiet metus ut pretium gravida uisque et vestibulum lacus. Maecenas at lacinia lacus. ”
											</p>
											<footer>
												<span>Jhony Waker</span>
												<cite>(CEO at NewCompany)</cite>
											</footer>
										</blockquote>
									</div>
									</li>
									<li>
									<div class="slide">
										<h2>Donation Holders say <strong> Read Below</strong></h2>
										<blockquote>
											<p>
												“Most of the dimensions related to life of human and their their living condition are in trouble these days, so help them to take a voluntarily step.”
											</p>
											<footer>
												<span>TONY VEDVIK</span>
												<cite>(Head Sales of Sense Technology)</cite>
											</footer>
										</blockquote>
									</div>
								</li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
	<!--Testimonial Section End Here -->

			</div>
	<!--Content End Here -->
	<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="footer-logo">
								<a href="index.html" title="Welcome to Charity"><img src="../../../../../public/assets/img/logo.png" alt="Charity"></a>
							</div>
							<p>
							It is a fundraising association that works globally to provide support in education via charity. Their members have spread worldwide to ensure that fundraising amount to delivering at the right place and for the right purposes
							</p>
							<address>
								<span> <i class="fa fa-home"></i> <span>A-105, Sector-82, Agra, 282001, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>+1 123 456 7890</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Twitter Feed</h6>
							<p>
								<a href="#"> <span class="charity">@charity</span> We are a charity trust that dedicatedly work for several countries around the globe.  Twitter Alerts will provide your some critical information about those people that need help of yours. <span class="comment-time">2 hours ago</span> </a>
							</p>
							<p>
								<a href="#"> <span class="charity">@charity</span> Use Twitter as the best conversation platform to make the people aware of the worst situation that many of Africans are facing. Tweet for them and raise fund in the best possible way. <span class="comment-time">2 hours ago</span> </a>
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Newsletter Signup</h6>
							<p>

Sign up your account to check our newsletter that will undoubtedly help you acquainted with current scenario.
							</p>
							<form role="form" class="sign-up">

								<div class="input-group">
									<input class="form-control" type="email" placeholder="Email">
									<div class="input-group-addon">
										<input type="submit" class="btn btn-theme" value="Submit">
									</div>
								</div>

							</form>

							<h6>Follow us</h6>
							<ul class="social-icons">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014, All Rights Reserved by Charity Theme.
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!--Footer Section End Here -->

		</div>
		<!-- join now form popup -->
		<div class="modal join-now-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<header class="page-header">
							<h2>Become a <strong>Volunteer</strong></h2>
						</header>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="name-join">Name<span>*</span></label>
										<input type="text" class="form-control" id="name-join">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="last-name-join">Last Name<span>*</span></label>
										<input type="text" class="form-control" id="last-name-join">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="email-join">Email<span>*</span></label>
										<input type="text" class="form-control" id="email-join">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="phone-join">Phone<span>*</span></label>
										<input type="text" class="form-control" id="phone-join">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="zip-code-join">ZIP code<span>*</span></label>
										<input type="password" class="form-control" id="zip-code-join">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<label for="message-join">Why you join volunteer<span>*</span></label>
										<textarea class="form-control" id="message-join"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<p class="forms-notes">
											Note: Note for voulnteer form
										</p>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
		<!-- join now form popup -->
		<!-- donation form popup -->

		<div class="modal donate-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<header class="page-header">
							<h2>You are donating to. <strong>Example Causes name</strong></h2>
						</header>
					</div>
					<div class="modal-body">
						<form role="form">

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label>How much would you like to donate ?</label>

										<div class="choose-pricing">
											<div class="btn-group">
												<button type="button" class="btn btn-default active">
													$12
												</button>
												<button type="button" class="btn btn-default">
													$22
												</button>
												<button type="button" class="btn btn-default">
													$32
												</button>

												<input type="text" placeholder="Custom" class="inpt-first form-control">

											</div>
										</div>
									</div>

								</div>
							</div>

							<div class="row display">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<div class="dropdown">
											<button class="btn btn-width dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<small> Donation Type</small>
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
												<li role="presentation">
													<a role="menuitem" tabindex="-1" href="#">Every Monthly (Recurring)</a>
												</li>
												<li role="presentation">
													<a role="menuitem" tabindex="-1" href="#">One Time Donation</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="name">Name<span>*</span></label>
										<input type="text" class="form-control" id="name">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="last-name">Last Name<span>*</span></label>
										<input type="text" class="form-control" id="last-name">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="name">Email<span>*</span></label>
										<input type="text" class="form-control" id="email">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="phone">Phone<span>*</span></label>
										<input type="text" class="form-control" id="phone">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="message">Address<span>*</span></label>
										<textarea class="form-control" id="message"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="add-note">Additional Note</label>
										<textarea class="form-control" id="add-note"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<input type="submit" value="DONATE" class="btn btn-default pull-right">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<p class="forms-notes">
											Note: Lorem ipsum dolor sit amet
										</p>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
		<!-- donation form popup -->

		<script src="../../../../../public/assets/js/jquery.min.js"></script>
		<!-- Switcher Style Js -->
		<script src="assets/js/style-switcher/assets/js/style.switcher.js"></script>
		<script src="assets/js/jquery.cookie.js"></script>
		<!-- Switcher Style End Js -->
		<script src="../../../../../public/assets/js/bootstrap.min.js"></script>
		<script src="../../../../../public/assets/js/jquery.easing.min.js"></script>
		<!--Main Slider Js-->
		<script src="../../../../../public/assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script src="../../../../../public/assets/revolution-slider/js/jquery.themepunch.revolution.js"></script>
		<!--Main Slider End Js-->
		<script src="../../../../../public/assets/js/jquery.flexslider.js"></script>
		<script src="../../../../../public/assets/js/site.js"></script>
	</body>
</html>
