<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include head.ejs%>
	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include Header.ejs%>
			<!-- Header Section End Here -->
			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here -->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Shortcode</h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Home</a>
									</li>
									<li class="active">
										Shortcode
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Breadcrumb Section Start Here -->
				
				<section class="content-wrapper container" id="page-info">
					<div class="row shortcode-page">
					<!-- Side NavBar Start Here -->
					<div class="col-xs-12 col-md-3">
						<nav class="side-nav">
						<ul>
						<li><a href="typography.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Typography</a></li>
						<li><a href="tabs.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Tabs Shortcode</a></li>
						<li><a href="accordion.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Accordion/Toggle Box</a></li>
						<li><a href="notification.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Notification Boxes</a></li>
						<li class="active"><a href="ranger.html"><i class="fa fa-angle-double-right bullet-arrow"></i>Slider Ranger</a></li>
						<li><a href="tables.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Table</a></li>
						<li><a href="list-style.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>List style</a></li>
						<li><a href="blockquote.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Blockquote</a></li>
						</ul>
						</nav>
					</div>
					<!-- Side NavBar End Here -->
					<!--Slider Ranger Section Start Here-->
					<div class="col-xs-12 col-md-9">
						<h2 class="h4 page-header">Slider Ranger Heading Title</h2>
						<p>Aenean mollis ultricies massa ac imperdifdg aecenas nulla dolor, accumsan id risus eu, dignissim elementum dsdf lum gravida dui eu sagittis fringilladf nean mollis ultricies massa ac imperdiet. Maecenas nulla dolor, accumsan id risus eu, digni dolo stibulum gravida dui eu sagittis fringilla.</p>
						<div class="bs-example">
							<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
							<span class="progress-value">65% </span>
							</div>
							<span class="progress-value-number">65%</span>
										</div>
							<div class="progress">
											<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
												
											</div>
										</div>			
							<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
												
											</div>
											<span class="progress-value-number">65%</span>
										</div>
							<div class="progress">
											<div class="progress-bar slide-ranger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
											 <span class="left-btn"></span>
											 <span class="right-btn"></span>	
											</div>
											<span class="progress-value-number">65%</span>
										</div>						
						</div>
						</div>
					<!--Slider Ranger Section End Here-->
					</div>
					
				</section>

			</div>
			<!--Footer Section Start Here -->
			<%- include Footer.ejs%>
	<!--Footer Section End Here -->
			
		</div>
		<!-- Scripts are here -->
		<%- include scripts.ejs%>
	</body>
</html>