<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include head.ejs%>
	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include Header.ejs%>
			<!-- Header Section End Here -->
			<!-- site content -->
			<div id="main">
			<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Shortcode</h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Home</a>
									</li>
									<li class="active">
										Shortcode
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!--Breadcrumb Section Start Here-->
				
				<section class="content-wrapper container" id="page-info">
					<div class="row shortcode-page">
						<!-- Side Navbar Start Here-->
					<div class="col-xs-12 col-md-3">
						<nav class="side-nav">
								<ul>
						<li class="active"><a href="typography.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Typography</a></li>
						<li><a href="tabs.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Tabs Shortcode</a></li>
						<li><a href="accordion.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Accordion/Toggle Box</a></li>
						<li><a href="notification.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Notification Boxes</a></li>
						<li><a href="slider-ranger.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Slider Ranger</a></li>
						<li><a href="tables.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Table</a></li>
						<li><a href="list-style.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>List style</a></li>
						<li><a href="blockquote.ejs"><i class="fa fa-angle-double-right bullet-arrow"></i>Blockquote</a></li>
						</ul>
						</nav>
					</div>
					<!-- Side Navbar End Here -->
					<!--Typography Section Start Here-->
					<div class="col-xs-12 col-md-9">
						<h2 class="h4 page-header">Typography  Heading Title</h2>
						<p>Aenean mollis ultricies massa ac imperdifdg aecenas nulla dolor, accumsan id risus eu, dignissim elementum dsdf lum gravida dui eu sagittis fringilladf nean mollis ultricies massa ac imperdiet. Maecenas nulla dolor, accumsan id risus eu, digni dolo stibulum gravida dui eu sagittis fringilla. </p>
						<!--Heading Group Start-->
						<div class="heading-group">
							<h1>&lt;h1&gt;Typography Heading Title&lt;/h1&gt;</h1>
							<h2>&lt;h2&gt;Typography Heading Title&lt;/h2&gt;</h2>
							<h3>&lt;h3&gt;Typography Heading Title&lt;/h3&gt;</h3>
							<h4>&lt;h4&gt;Typography Heading Title&lt;/h4&gt;</h4>
							<h5>&lt;h5&gt;Typography Heading Title&lt;/h5&gt;</h5>
							<h6>&lt;h6&gt;Typography Heading Title&lt;/h6&gt;</h6>
						</div>
						<!--Heading Group Start-->
					</div>
					<!--Typography Section End Here-->
					</div>
					</section>

			</div>
			<!--Footer Section Start Here -->
			<%- include Footer.ejs%>
	<!--Footer Section End Here -->
			</div>

		<!-- Scripts are here -->
		<%- include scripts.ejs%>
	</body>
</html>