<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../layouts/head.ejs%>
	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<%- include ../layouts/Header.ejs%>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Gallery</h1>
								<ul class="breadcrumb">
									<li>
										<a href="../layouts/index.html">Home</a>
									</li>
									<li class="active">
										Gallery
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Breadcrumb Section End Here-->

				<div class="content-wrapper" id="page-info">

					<!-- Gallery sections Start Here -->
					<section class="we-help gallery-wrap">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<!--Sub Breadcrumb Section Start Here-->
									<ol class="breadcrumb">
										<li>
											<a href="#">Causes 1</a>
										</li>
										<li class="active">
											<a href="#">Causes 2</a>
										</li>
										<li>
											<a href="#">Causes 3</a>
										</li>
										<li>
											Causes 4
										</li>
									</ol>
									<!--Sub Breadcrumb Section Start Here-->
									<!--Gallery Section Start Here-->
									<div class="row gallery anim-section">
										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">
												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-05.jpg" rel="next">
													<img src="../../../../../public/assets/img/img-slide-05.jpg" alt=""></a>

												<h3 class="h3"><a  href="gallery.ejs">Focusing on Forgotten Rural Community</a></h3>
												<p>
													
You can help us re-bond the rural community that could help the children to learn the value of living together

												</p>

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">

												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-01.jpg" rel="next">
													<img src="../../../../../public/assets/img/img-slide-01.jpg" alt=""></a>

												<h3 class="h3"><a  href="gallery.ejs">Help African children to get shelter</a></h3>
												<p>
													
Offer your support to provide abodes for African children. You can support a child with a donation, a legacy or by volunteering your time and skills.
												</p>

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">

												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-04.jpg" rel="next">
													<img src="../../../../../public/assets/img/img-slide-04.jpg" alt=""></a>

												<h3 class="h3"><a  href="gallery.ejs">Donate to secure the future of African children </a></h3>
												<p>
													
African child need your support to create their future. We request you to donate for this noble cause.

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail embed-vedio-block">

												<div class="embed-responsive embed-responsive-16by9">
													<img src="../../../../../public/assets/img/video-frame2.jpg" alt="Click to play" data-video="http://www.youtube.com/embed/wN3gueLT0D8?autoplay=1"/>
												</div>

												<h3 class="h3"><a  href="gallery.ejs">A Fund Raising Event</a></h3>
												<p>
													

A fund raising cycling event was organized to help African child get monitory benefit. 
												</p>

											</div>
										</div>

										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">
												<section class="flex-slide flexslider">
													<ul class="slides">
													<li>
														<a class="img-thumb" href="javascript:;"><img src="../../../../../public/assets/img/img-slide-04.jpg" alt=""></a>
													</li>
													<li>
														<a class="img-thumb" href="javascript:;"><img src="../../../../../public/assets/img/img-slide-05.jpg" alt=""></a>
													</li>
													</ul>
												</section>

												<h3 class="h3"><a  href="gallery.ejs">Focusing on Forgotten Rural Community</a></h3>
												<p>
													
You can help us to re-bond the rural community that could help the children to learn the value of living together.
												</p>

											</div>

										</div>

										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">

												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-05.jpg">
													<img src="../../../../../public/assets/img/img-slide-05.jpg" alt=""></a>

												<h3 class="h3"><a  href="gallery.ejs">Focusing on Forgotten Rural Community</a></h3>
												<p>
													You can help us to re-bond the rural community that could help the children to learn the value of living together.
												</p>

											</div>
										</div>

										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">
												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-02.jpg">
													<img src="../../../../../public/assets/img/img-slide-02.jpg" alt=""></a>

												<h3 class="h3"><a  href="gallery.ejs">Help girls to get Education</a></h3>
												<p>
												
You can contribute fund to help African girls get education opportunities so that they can have a brighter future
												</p>

											</div>
										</div>

										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">
												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-05.jpg">
													<img src="../../../../../public/assets/img/img-slide-05.jpg" alt=""></a>
												<h3 class="h3"><a  href="gallery.ejs">Focusing on Forgotten Rural Community</a></h3>
												<p>
													
You can help us to re-bond the rural community that could help the children to learn the value of living together
												</p>

											</div>
										</div>

										<div class="cols-xs-12 col-sm-4">
											<div class="thumbnail">
												<a class="fancybox-effects-a img-thumb" href="../../../../../public/assets/img/img-slide-01.jpg">
													<img src="../../../../../public/assets/img/img-slide-01.jpg" alt=""></a>

												<h3 class="h3"><a  href="gallery.ejs">	Help African children to get shelter</a></h3>
												<p>
												
Offer your support to provide abodes for African children. You can support a child with a donation, a legacy or by volunteering your time and skills. 
												</p>

											</div>
										</div>
									</div>

								<!--Gallery Section End Here-->
								</div>

								<!--Pagination Section Start Here-->

								<div class="cols-xs-12 text-center">

									<ul class="pagination">
										<li>
											<a href="#">Prev</a>
										</li>
										<li class="active">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#">4</a>
										</li>
										<li>
											<a href="#">Next</a>
										</li>
									</ul>

								</div>

								<!--Pagination Section Start Here-->

							</div>
						</div>
					</section>
					<!-- Gallery sections Start Here -->

				</div>

			</div>
			<!-- site content ends -->

		<!--Footer Section Start Here -->
			<%- include ../layouts/Footer.ejs%>
	<!--Footer Section End Here -->
		</div>
		<!-- Scripts are here -->
		<%- include ../layouts/scripts.ejs%>

	</body>
</html>